@page "/counter"
@rendermode InteractiveServer

<PageTitle>About Us</PageTitle>

<h1>About The Team</h1>

<p>
    Shoulder hamburger corned beef swine kielbasa, prosciutto cupim andouille bacon shank ham hock tail rump polony capicola. Frankfurter mortadella buffalo tenderloin corned beef short loin. Andouille spare ribs buffalo kielbasa salami leberkas short loin ham turducken chicken sausage frankfurter. Rump chicken brisket, meatball turkey jowl pig pork loin turducken bacon andouille. Picanha pig venison, shankle brisket sausage spare ribs swine landjaeger.
</p>
<p>
    Flank corned beef brisket, drumstick andouille cow turkey tongue. Alcatra t-bone picanha, tenderloin chislic pork loin ham hock ribeye brisket polony frankfurter prosciutto hamburger biltong. Jowl ball tip bacon frankfurter, pork hamburger tenderloin short ribs jerky bresaola pork loin. Fatback ribeye shankle kielbasa capicola ham, andouille beef pig chuck boudin. Jerky cupim fatback ham alcatra tenderloin. Cupim chuck bacon, pastrami kielbasa picanha pork kevin jowl chislic alcatra. Jerky cow prosciutto picanha venison porchetta pork cupim frankfurter biltong andouille shoulder chicken shankle.
</p>
<p>
    Meatloaf pork shank alcatra, turkey doner ball tip shoulder beef ribs. Beef ribs frankfurter mortadella turducken ribeye prosciutto shankle corned beef ground round pastrami drumstick. Shank ball tip prosciutto landjaeger fatback jowl bresaola ribeye pork chop chislic spare ribs hamburger. Bresaola mortadella chuck, ham hock capicola doner beef tail polony. Tail strip steak boudin meatball drumstick tenderloin fatback shank doner.
</p>

<img src="images/burger.jpg" alt="Burger Yum" width="300" />
<img src="images/ribs.jpg" alt="Ribs Delish" width="300" />

@code {

}
