@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>
    <p>
        Bacon ipsum dolor amet prosciutto shoulder tenderloin, tri-tip pork belly pork chop mortadella laboris chuck. Prosciutto hamburger alcatra andouille bresaola sausage minim doner dolore. Aute id meatball ut reprehenderit. Ut pastrami aute pork belly ex short loin, culpa magna. In tenderloin t-bone, pork duis biltong alcatra fatback. Ball tip sed beef tenderloin adipisicing porchetta non.
    </p>

    <p>
        Polony aliquip aute, hamburger qui labore cupim sausage in picanha chicken in turducken. Polony excepteur occaecat shoulder. Meatloaf filet mignon pastrami, beef adipisicing ground round ea elit jowl. Exercitation short ribs enim beef ribs landjaeger, leberkas dolore alcatra quis. Filet mignon officia do anim dolor. Cow proident aliqua brisket, consequat picanha non. Short loin dolore est commodo exercitation salami rump ullamco labore.
    </p>
</div>

<img src="images/space-steak.png"
     class="img-fluid rounded-3 shadow-sm"
     style="max-width: 1000px; aspect-ratio: 16 / 9; object-fit: cover; display: block; margin: 0 auto;"
     alt="meat" />

