@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.







<img src="images/world.webp"
     class="img-fluid rounded-3 shadow-sm"
     style="max-width: 500px; aspect-ratio: 16 / 9; object-fit: cover; display: block;"
     alt="World" />

