@page "/order"

@using System.ComponentModel.DataAnnotations

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<div class="order-page-wrapper">
    <div class="order-video-background">
        <video autoplay muted loop playsinline>
            <source src="videos/meatvideo.mp4" type="video/mp4">
        </video>
    </div>
    <div class="order-menu-wrapper">
        <h1>Order MEAT</h1>
        <section>
            <EditForm Model="Input" method="post" OnValidSubmit="Success" FormName="ContactUs">
                <DataAnnotationsValidator />
                <hr />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="name" />
                    <label for="Name" class="form-label">Name</label>
                    <ValidationMessage For="() => Input.Name" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Address" class="form-control" autocomplete="address" aria-required="true" placeholder="address" />
                    <label for="Address" class="form-label">Address</label>
                    <ValidationMessage For="() => Input.Address" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>
@code {
    private string? errorMessage;
    private HttpClient _http = new HttpClient();

    [SupplyParameterFromForm]
    private OrderCreateDto Input { get; set; } = new();


    public async Task Success()
    {
        const string baseUrl = $"https://localhost:7009/Order";
        try
        {
            var response = await _http.PostAsJsonAsync(baseUrl, Input);
            if (!response.IsSuccessStatusCode)
            {
                await JSRuntime.InvokeVoidAsync("alert", "Order Failed");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("alert", "Order Complete");
            }
        }
        catch(Exception e)
        {
             await JSRuntime.InvokeVoidAsync("alert", $"Order Failed: {e}");
        }
    }
}